article {
    color: #55085c;
    text-align: center;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f9f9f9;
    color: #333;
    margin: 0;
    padding: 0;
}

.content-box {
    margin: 0 auto; /* 調整為居中 */
    max-width: 80%; /* 限制寬度為螢幕的 80% */
    padding: 0 15px; /* 添加左右內邊距確保內容不緊貼邊框 */
}

.header {
    background-color: #55085c;
    color: white;
    padding: 12px 0;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

header h1 {
    margin-top: 30px;
    font-size: 50px;
    margin-bottom: 20px;
    font-weight: 900;
    text-align: center; /* 標題置中 */
}

header h2 {
    font-size: 40px;
    margin-top: 10px;
    text-align: center; /* 標題置中 */
}

.logo {
    text-decoration: none;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center; /* 確保標誌居中 */
}

.logo-img {
    height: 65px;
    margin: 0; /* 移除負邊距 */
}

.logo-text {
    font-size: 1.2rem;
    font-weight: bold;
}

.slogan {
    font-size: 1.5rem;
}

h1 {
    color: #55085c;
    font-weight: bold;
    margin: 20px auto; /* 水平居中 */
    text-align: center; /* 標題置中 */
}

h2 {
    color: #55085c;
    margin-top: 10px;
    text-align: center; /* 調整為居中對齊 */
}

.content-box h3 {
    color: #55085c;
    margin-top: 10px;
    text-align: left; /* 調整為靠左對齊 */
    width: 1200px;
}

.content-box h2 {
    color: #55085c;
    margin-top: 20px;
    font-size: 50px;
    font-weight: 900;
    text-align: center; /* 調整為居中 */
    width: 1200px;
}

h4 {
    color: #55085c;
    text-align: center;
    margin-bottom: 15px;
}

#ab {
    font-size: 2rem;
    text-align: center; /* 水平居中 */
    display: block;
    margin: 0 auto;
}

.highlight {
    background-color: #fffb17;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    display: inline-block;
    margin: 10px auto;
}

.content-box p {
    margin-top: 2px;
    font-size: 1.5rem;
    line-height: 1.8;
    color: #555;
    width: 1200px;
}

.container {
    max-width: 1200px; /* 設置最大寬度 */
    margin: 0 auto; /* 居中對齊 */
    padding: 0 15px; /* 添加左右內邊距 */
}

.content {
    margin-bottom: 30px;
    background-color: #ed0404;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
}

.content ul {
    font-size: 1.5rem;
    list-style-type: disc;
    margin-left: 20px;
}

.content ul li {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

ul {
    font-size: 1.4rem;
}

ul li {
    margin-left: 20px;
    margin-bottom: 10px;
}

#ac {
    text-align: center;
}

.footer {
    background-color: #55085c;
    text-align: center;
    padding: 12px 0;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.footer p {
    margin: 0;
    color: #ffffff;
    font-size: 1rem;
}

.sidebar {
    margin-top: 20px;
    padding-top: 10px;
    border-top: 1px solid #ccc;
}

.sidebar h4 {
    color: #55085c;
    font-size: 1.2rem;
    margin-left: 0;
    text-align: center;
}

.sidebar ul {
    list-style: none;
    padding: 0;
    text-align: left;
}

.sidebar ul li {
    margin-bottom: 10px;
}

.sidebar ul li a {
    color: #333;
    text-decoration: none;
}

.sidebar ul li a:hover {
    color: #0073d1;
    text-decoration: underline;
}

.image-container {
    align-items: center;
    width: 100%;

}




.info-text-center {
    margin: 0 auto;
    font-size: 25px;
    text-align: center;
}

.text-center-my-4 {
    margin-top: 15px;
    align-items: center;
    width: 200px;
}

.img-fluid{
    margin-top: 15px;
    margin-left:50% ;    
    width: 200px; 

}